@import "../fonts/montserrat/stylesheet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        font-family: 'Montserrat', sans-serif;
    }

    body::-webkit-scrollbar {
        width: theme(padding.2);
    }

    body::-webkit-scrollbar-track {
        background-color: theme(colors.slate.200);
    }

    body::-webkit-scrollbar-thumb {
        background-color: theme(colors.slate.400);
    }

    body::-webkit-scrollbar-thumb:hover {
        background-color: theme(colors.slate.400);
    }

    html.dark body::-webkit-scrollbar-track {
        background-color: theme(colors.slate.800);
    }

    html.dark body::-webkit-scrollbar-thumb {
        background-color: theme(colors.slate.600);
    }
}

.fade-enter-active, .fade-leave-active {
    transition: all .3s ease;
    /*@apply transition-all duration-300 ease-in;*/
}

.fade-enter-from, .fade-leave-to {
    /*@apply opacity-0 translate-x-8;*/
    opacity: 0;
    transform: translateX(2em);
}